
body {
background-color: var(--bg-2);
}

:root {
    --bs-white: #FFFFFF;
    --bs-black: #000000;
    --bs-primory: #31C4D6;
    --bg: #1C818D;
    --bg-2: #F6F6F6;
    --font-title: 'Unbounded';
    --font-text: 'Arial'
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0 12%;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bs-white);
    cursor: pointer;
    position: relative; /* Устанавливаем позицию для псевдоэлементов */
    padding: 10px;
    background-color: transparent; /* Исходный цвет фона (прозрачный) */
    color: #ffffff; /* Цвет текста */
    border-radius: 10px; /* Закругленные углы */
    transition: color 0.3s ease; /* Плавный переход для цвета текста */
    cursor: pointer; /* Указатель при наведении */
}

.link::after {
    content: ""; /* Создаем пустой элемент */
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Сверху по границе элемента */
    left: 0; /* Слева по границе элемента */
    right: 0; /* Справа по границе элемента */
    bottom: 0; /* Снизу по границе элемента */
    background: rgba(255, 255, 255, 0.15); /* Полупрозрачный черный фон */
    border-radius: 8px; /* Закругления углов */
    opacity: 0; /* Изначально скрыт */
    transition: opacity 0.3s ease; /* Плавный переход по прозрачности */
    z-index: -1; /* За текстом */
}

.link:hover::after {
    opacity: 1; /* Показать фон при наведении */
}

.main-menu{
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    list-style-type: none;
    padding-top: 40px;
    padding-bottom: 40px;  
    font-family: var(--font-text);
    color: #FFFFFF;
    z-index: 4; 
}
.social-media {
    display: flex;
    column-gap: 5px;
    top: -10%;
}


/* Start header style*/

.nav {
    display: flex;
    justify-content: space-between;

}


.logo {
    width: 188px; 
    height: 205px; 
    background-color: #044B53; 
    border-radius:  0 0 25px 25px;
    clip-path: path("M54.8334 -26.25C48.6008 -26.25 42.6235 -22.9708 38.2164 -17.1337C33.8093 -11.2966 31.3334 -3.37987 31.3334 4.875V161.932C31.3327 164.658 31.8727 167.336 32.8993 169.699C33.9259 172.062 35.4032 174.026 37.1832 175.395C38.9632 176.764 40.9834 177.49 43.0417 177.499C45.1 177.509 47.1241 176.803 48.9114 175.45L90.1147 144.263C91.298 143.368 92.6373 142.897 94 142.897C95.3628 142.897 96.702 143.368 97.8854 144.263L139.089 175.45C140.876 176.803 142.9 177.509 144.958 177.499C147.017 177.49 149.037 176.764 150.817 175.395C152.597 174.026 154.074 172.062 155.101 169.699C156.127 167.336 156.667 164.658 156.667 161.932V4.875C156.667 -3.37987 154.191 -11.2966 149.784 -17.1337C145.377 -22.9708 139.399 -26.25 133.167 -26.25H54.8334Z"); 
    position: relative;
    z-index: 2;
}
.logo img {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 40%;
    left: 23%;
    
}
/* первый фрейм фон */
.first-frame {
    width: auto;
    height: 400px;
    

}

.diamond-photo {
    width: 1050px;
    height: 1050px;
    border-radius: 150px; 
    top: -35%;
    left: 45%;
    transform: rotate(-45deg);
    overflow: hidden;
    z-index: 3;
    position: absolute; 
    background-color: transparent;
    clip-path: path ("M0 159.5L112 1.5V0H973V1.5V470.5L906.5 616L727.5 806.5L475 756L101.5 400.5L0 159.5Z")
}

.photo-content{
    width: 100%;
    height: 100%;
    background-image: url("../img/photo.png");
    background-size: cover; 
    background-position: center; 
    transform: scale(1.3) rotate(45deg);
    position: absolute;
    filter: blur(2px);


}
/* заголовок */
.bg-title {
    margin-top: 20%;
    padding: 0 12%;
    box-sizing: border-box;
    width: 620px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
    gap: 10px;
    width: 618px;

    background: var(--bs-white);
    /* Drop Shadow/600 */
    box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
    border-radius: 30px 30px 30px 0px;
    position: relative;
    z-index: 3;
}

h1 {
    padding: 0%;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    color: var(--bs-black);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 0;
    position: relative;
}

.primary-text {
    display: block; 
    margin-top: 0px;
    font-family: var(--font-text);
    font-style: normal;
    font-size: 20px;
    line-height: 10%;
    padding: 0%;

}

/* второй фрейм с описанием */
.line-bg {
    width: auto;
    height: 0px;
    display: flex;
    align-items: center;  
    justify-content: center; 
     
}
.line {
    width: 1638px;
    height: 900px;
    background-image: url('../img/lineVector.svg');
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.3);
    z-index: 1;
    position: relative;
    top: -500px;
    left: -100px;
    

}
.description{
    width: auto;
    height: 700px;
    background: linear-gradient(to right, #000000, #0FC7DD);
    z-index: -2;
    display: flex;
    align-items: center;    
}

#icons {
    width: 66px;
    height: 450px;
    
    margin-left: 12%;
    justify-content: center;   
    list-style-type: none;
}
.icon {
    margin-bottom: 30px;
}
.description-list {
    height: 450px;
    width: 900px;
    
    color: var(--bs-white);
    font-family: var(--font-title);
    margin-left: 30px;
    list-style-type: none;

}
.no-marker {
    list-style-type: none;
}

.element {
    margin-bottom: 70px;
}
.h2 {
    font-weight: bold;
    line-height: 110%;

}
.primary-white-text {
    font-family: var(--font-text);
    font-size: 20px;
    position: absolute; 
    box-sizing: border-box; 
    white-space: normal; 
}
/* третий фрейм направления */
.line2 {
    width: 1638px;
    height: 900px;
    background-image: url('../img/lineVector2.svg');
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.3);
    z-index: 0;
    position: relative;
    top: -170px;
    left: -100px;
}
.types {
    height: 900px;
    width: auto;
}

#title {
    margin-top: 25px;
}
.type-box {
    margin-top: 150px;
    width: 345px;
    height: 600px;
    border-radius: 30px;
    border: 2px solid #9B9B9B;
    background-color: var(--bs-white);
    
}
.img {
    width: 285px;
    height: 250px;
    border-radius: 20px;
    margin: 30px;
    background-color: #D9D9D9;
}
.text {
    width: 285px;
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 30px;
}
.button {
    padding: 20px;
    width: 150px;
    background: #31C4D6;
    border-radius: 30px;

    width: 107px;
    height: 22px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    position: relative; /* Абсолютное позиционирование */
    bottom: -60px;      /* Отступ от нижней грани прямоугольника */
    left: 50%;         /* Сдвиг к центру по горизонтали */
    transform: translateX(-50%);

    border: 2px solid transparent;
    cursor: pointer;  
    transition: background-color 0.3s ease, border-color 0.3s ease;
} 
.button:hover {
    background-color: #ffffff; /* Цвет фона при наведении */
    background-color: white;    /* Цвет фона при нажатии */
    border: 2px solid #31C4D6;  /* Голубой контур при нажатии */
    color: #31C4D6;             /* Цвет текста */
}
.types-list {
    display: flex;               /* Включаем Flexbox */
    list-style: none;           /* Убираем маркеры списка */
    padding: 0;                 /* Убираем внутренние отступы */
    margin: 0;     
}
.types-list li {
    margin-right: 50px;         /* Отступы между элементами (можно настроить) */
}

.types-list li:last-child {
    margin-right: 0;            /* Убираем последний отступ */
}

@media(max-width: 767px) {
    .main-menu {
       flex-direction: column;
    }
}
